/***** Global *****/

* {

}

html {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  color: black;
}

/***** Type *****/

.white {
  color: white;
}

h1, h2, h3, h4, h5, h6 {

}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

nav li a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

nav > li {
  list-style: none;
}

p {
  font-size: 14px;
}

p.copyright {
  font-size: 11px;
  background-color: dimgray;
}

/***** Sections *****/

div.building {
  margin: 0;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  position: absolute;
  background-color: gray;

  background: url("../img/building.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;


}
